## TPC2 tarefa 2 - Python

In [53]:
import csv
import numpy as np
import pandas as pd
pd.set_option('display.min_rows', 20)
import matplotlib.pyplot as plt
%matplotlib inline

In [54]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### <font color = 'green'>World Cup with Pandas</font>
Solve the problems using the data in Pandas dataframes.

In [55]:
# Read the Players and Teams data into dataframes
f = open('Players.csv')
playersDF = pd.read_csv(f)
f = open('Teams.csv')
teamsDF = pd.read_csv(f)

In [56]:
#Qual jogador (print do ultimo nome) de uma equipa com "ia" no nome, 
#que jogou menos de 200 minutos e fez mais de 100 passes?

jogador = playersDF.loc[playersDF["minutes"]<200].loc[playersDF["passes"]>100]
jogador = jogador.iloc[[value for value in range(len(jogador["team"].values)) if "ia" in jogador["team"].values[value]]]
print(jogador)


# FUNDAMENTAÇÃO:
#  Criamos a variável "jogador" indo buscar os valores ao dataframe denominado "playersDF", e usando o ".loc" para localizar dentro da coluna dos "minutes" os que tinham menos de 200 e na coluna dos "passes" o valores accima de 100
#  UtiLizando um array e usando o método ".iloc" procura-mos os nomes das equipas dos jogadores da coluna "team", que tivessem "ia" no seu nome.
#  Printamos o resultado

        surname    team    position  minutes  shots  passes  tackles  saves
431  Kuzmanovic  Serbia  midfielder      180      4     103        1      0

In [57]:
# Qual é o número médio de passes feitos pelos avançados? Pelos meio-campistas?
# Verifique se a resposta especifica qual é qual e não inclua outras
# posições no seu resultado.


pmedios = playersDF.loc[playersDF["position"]=="midfielder"]["passes"].mean()
pavançados = playersDF.loc[playersDF["position"]=="forward"]["passes"].mean()
                                          
print(((str(pmedios)) + " é o número médio de passes feitos pelos jogadores que são meio-campistas")) , 
print(((str(pavançados)) + " é o número médio de passes feitos pelos jogadores que são avançados"))


# FUNDAMENTAÇÃO:
#  Criamos duas variáveis sendo elas o "pmedios" e o "pavançados".
#  Dentro destas variáveis usamos o médoto ".loc" para localizar na coluna "position", as posições respetivas e os seus passes na coluna "passes", e depois usando ".mean()" para calcular a média aritmetica.
#  Printamos o resultado

95.2719298245614 é o número médio de passes feitos pelos jogadores que são meio-campistas
50.82517482517483 é o número médio de passes feitos pelos jogadores que são avançados

In [58]:
# Qual equipe tem a maior relação (razão, racio, etc) de goalsFor versus goalsAgainst?
# Imprima apenas o nome da equipa.
# Dica: adicione uma coluna "racio" ao dataframe das equipas e, depois, faça o seu "sort" e, 
# em seguida, use a head(1) ou tail(1) ...

teamsDF["racio"] = teamsDF["goalsFor"]/teamsDF["goalsAgainst"]
equipa = teamsDF.sort_values("racio").tail(1)

print("A equipa que tem o maior racio de goalsFor versus goalsAgainst é " + equipa["team"].values[0])


# FUNDAMENTAÇÃO:
#  Para saber qual equipa tinha o maior racio usamos o teamsDF para encontrar os valores "goalsFor" e "golsAgainst" para descobrir a relação.
#  Criamos então a variável "equipa" e usando o método ".sort_values" para sortear os valores através do eixo e usando o ".tail(1)" para buscar o primeiro valor da última linha.
#  Printamos o resultado

A equipa que tem o maior racio de goalsFor versus goalsAgainst é Portugal

In [59]:
# Quantos jogadores que jogam numa equipa com ranking <10, 
# jogaram mais de 350 minutos?
# Lembrete: len() fornece o número de linhas que um dataframe contém

equipa = teamsDF.loc[teamsDF["ranking"]<10]["team"].values
jogadores = playersDF.iloc[[team for team in range(len(playersDF["team"])) if playersDF["team"][team] in equipa]]
jogadores = jogadores.loc[jogadores["minutes"]>350]

print( "Os jogadores que jogam numa equipa com ranking <10 e que jogaram mais de 350 minutos foram " + str(len(jogadores)))
jogadores


# FUNDAMENTAÇÃO:
#  Criamos duas variáveis, "equipa" e "jogadores".
#  Para encontrar as equipas com ranking menor que 10, usamos o método ".loc".
#  Para encontrar os jogadores usamos o método ".iloc", para encontra-los dentro da coluna "team" e depois usamos o ".loc" para selecionar os que tinham minutos superiores a 350.
#  Printamos o resultado e usamos o "jogadores" para apresentar uma tabela.

Os jogadores que jogam numa equipa com ranking <10 e que jogaram mais de 350 minutos foram 54

,surname,team,position,minutes,shots,passes,tackles,saves
21,Demichelis,Argentina,defender,450,1,218,7,0
22,Di Maria,Argentina,midfielder,356,7,148,12,0
24,Heinze,Argentina,defender,360,3,188,6,0
26,Mascherano,Argentina,midfielder,360,0,237,19,0
28,Messi,Argentina,forward,450,21,321,10,0
34,Romero,Argentina,goalkeeper,450,0,47,0,10
60,Fabiano,Brazil,forward,418,9,89,4,0
62,Gilberto Silva,Brazil,midfielder,450,3,299,11,0
65,Juan,Brazil,defender,450,4,223,9,0
66,Julio Cesar,Brazil,goalkeeper,450,0,69,0,10
69,Lucio,Brazil,defender,450,1,223,14,0
70,Maicon,Brazil,defender,450,6,249,11,0
72,Michel Bastos,Brazil,defender,422,7,224,14,0
75,Robinho,Brazil,forward,354,9,181,5,0
135,Ashley Cole,England,defender,360,0,142,12,0
140,Gerrard,England,midfielder,360,10,227,5,0
141,Glen Johnson,England,defender,357,3,173,17,0
147,Lampard,England,midfielder,360,11,232,3,0
151,Terry,England,defender,360,2,223,3,0
176,Friedrich,Germany,defender,540,1,244,16,0
179,Khedira,Germany,midfielder,517,6,279,16,0
181,Klose,Germany,forward,356,11,83,4,0
183,Lahm,Germany,defender,540,0,360,17,0
185,Mertesacker,Germany,defender,540,0,282,9,0
186,Mueller,Germany,forward,383,7,165,9,0
187,Neuer,Germany,goalkeeper,540,0,99,0,20
188,Podolski,Germany,forward,531,17,217,9,0
189,Schweinsteiger,Germany,midfielder,531,5,423,23,0
191,Ozil,Germany,midfielder,497,7,266,3,0
323,Heitinga,Netherlands,defender,540,0,259,10,0
325,Kuyt,Netherlands,forward,516,11,248,7,0
326,Mathijsen,Netherlands,defender,450,1,265,8,0
329,Sneijder,Netherlands,midfielder,532,15,279,7,0
330,Stekelenburg,Netherlands,goalkeeper,540,0,149,0,15
332,Van der Wiel,Netherlands,defender,360,0,189,2,0
333,de Jong,Netherlands,midfielder,448,1,250,15,0
335,van Bommel,Netherlands,midfielder,540,2,307,31,0
336,van Bronckhorst,Netherlands,defender,540,1,271,10,0
337,van Persie,Netherlands,forward,479,14,108,1,0
408,Bruno Alves,Portugal,defender,360,1,166,5,0
409,Carvalho,Portugal,defender,360,2,173,11,0
413,Eduardo,Portugal,goalkeeper,360,0,51,0,17
415,Fabio Coentrao,Portugal,defender,360,1,152,13,0
422,Ronaldo,Portugal,forward,360,18,91,3,0
517,Alonso,Spain,midfielder,506,9,465,18,0
519,Busquets,Spain,midfielder,511,0,466,15,0
520,Capdevila,Spain,defender,540,1,310,10,0
521,Casillas,Spain,goalkeeper,540,0,67,0,11
523,Iniesta,Spain,midfielder,437,8,299,11,0
530,Pique,Spain,defender,540,2,402,15,0
531,Puyol,Spain,defender,534,3,254,8,0
532,Ramos,Spain,defender,527,9,299,7,0
535,Villa,Spain,forward,529,22,169,2,0
536,Xavi,Spain,midfielder,515,4,563,6,0

### <font color = 'green'>Titanic with Pandas</font>
Solve the problems using the data in Pandas dataframe.

In [60]:
# Read the Titanic data into a dataframe

f = open('Titanic.csv')
titanicDF = pd.read_csv(f)
titanicDF

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no
5,Moran,Mr. James,M,NaN,3,8.4583,Queenstown,no
6,McCarthy,Mr. Timothy J,M,54.0,1,51.8625,Southampton,no
7,Palsson,Master Gosta Leonard,M,2.0,3,21.0750,Southampton,no
8,Johnson,Mrs. Oscar W (Elisabeth Vilhelmina Berg),F,27.0,3,11.1333,Southampton,yes
9,Nasser,Mrs. Nicholas (Adele Achem),F,14.0,2,30.0708,Cherbourg,yes
...,...,...,...,...,...,...,...,...
881,Markun,Mr. Johann,M,33.0,3,7.8958,Southampton,no
882,Dahlberg,Miss Gerda Ulrika,F,22.0,3,10.5167,Southampton,no
883,Banfield,Mr. Frederick James,M,28.0,2,10.5000,Southampton,no
884,Sutehall,Mr. Henry Jr,M,25.0,3,7.0500,Southampton,no
885,Rice,Mrs. William (Margaret Norton),F,39.0,3,29.1250,Queenstown,no
886,Montvila,Rev. Juozas,M,27.0,2,13.0000,Southampton,no
887,Graham,Miss Margaret Edith,F,19.0,1,30.0000,Southampton,yes
888,Johnston,"Miss Catherine Helen ""Carrie""",F,NaN,3,23.4500,Southampton,no
889,Behr,Mr. Karl Howell,M,26.0,1,30.0000,Cherbourg,yes
890,Dooley,Mr. Patrick,M,32.0,3,7.7500,Queenstown,no

In [61]:
# Quantas mulheres casadas embarcaram em Cherbourg?
# Nota: 'first' é uma função no Pandas, então 'titanic.first' irá gerar um erro;
# use 'titanic[' first ']

casadas = titanicDF.iloc[[value for value in range(len(titanicDF["first"].values)) if "Mrs" in titanicDF["first"].values[value]]]
embkcherbourg = casadas.loc[casadas["embarked"]=="Cherbourg"]

str(len(embkcherbourg))

print("A quantidade de mulheres casadas que embarcaram em Cherbourg é de " + str(len(embkcherbourg)))


# FUNDAMENTAÇÃO:
#  Criamos duas variáveis, "casadas", para defenir as mulheres casadas e "embkcherbourg" para os que embarcaram em Cherbourg.
#  Para o "casadas" usamos o método ".iloc" no dataframe, para encontramos na coluna "first" os nomes "Mrs" e seleciona-los.
#  No "embkcherbourg" usamos o método ".loc" na variável anterior para procurar quais "Mrs" na sua coluna "embarked" tinham Cherbourg.
#  Printamos o resultado usando tambem o "str(len)"" para calcular o número de casadas embarcadas em Cherbourg.

A quantidade de mulheres casadas que embarcaram em Cherbourg é de 33

In [62]:
# Liste a tarifa média paga pelos passageiros em cada uma das cidades de embarque.

mediapaga1 = titanicDF.loc[titanicDF["embarked"]=="Southampton"]["fare"].mean()
mediapaga2 = titanicDF.loc[titanicDF["embarked"]=="Queenstown"]["fare"].mean()
mediapaga3 = titanicDF.loc[titanicDF["embarked"]=="Cherbourg"]["fare"].mean()
                                          
print(((str(mediapaga1)) + " é a tarifa média paga pelos passageiros de Southampton")) ,
print(((str(mediapaga2)) + " é a tarifa média paga pelos passageiros de Queenstown")), 
print(((str(mediapaga3)) + " é a tarifa média paga pelos passageiros de Cherbourg"))

# FUNDAMENTAÇÃO:
# Criamos 3 variáveis para as medias pagas por cada cidade.
# Procuramos então pelo valor de "fare" usando o método ".loc" e depois usamos o .mean() para calcular a media.
# Printamos o resultado de cada uma.

27.243651393188795 é a tarifa média paga pelos passageiros de Southampton
13.276029870129872 é a tarifa média paga pelos passageiros de Queenstown
59.95414404761905 é a tarifa média paga pelos passageiros de Cherbourg

In [44]:
# Os valores inexistentes (missing)  no Pandas são nulos (null), impressos como 'NaN' e
# a function pd.isnull(v) verifica se um valor é nulo.
# Que fração dos passageiros não tem valor para a idade?

idadeinexistente = titanicDF[titanicDF['age'].isnull()]
idadeinexistente.isnull().sum()

idadeinexistente.age.to_string(index=True)
idadeinexistente.shape[0]

print("A fração dos passageiros que não tem valor para a idade é de " + str(idadeinexistente.shape[0] / titanicDF.shape[0]) )


# FUNDAMENTAÇÃO:
# Criamos a variável "idadeinexistente"
# Dentro desta variável, procuramos dentro da dataframe na coluna "age" quais valores eram impresssos como NaN.
# Usamos o "idadeinexistente.isnull().sum()" para contar os números nulos e utilizamos o "idadeinexistente.age.to_string(index=True)" para verificar todos os NaN e o número corresponde através do "(index=True)" verificando se o número contado estava certo através do "idadeinexistente.shape[0]" 
# Printamos o resultado utilizando a "str()" para calcular a fração do número da "idadeinexistente" pelo número da dataframe.

A fração dos passageiros que não tem valor para a idade é de 0.19865319865319866